.AppBlock{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1px;
  border-radius: 30px ;
  background-color: rgb(255, 255, 255);

}

.AppBlock__item{
  border-radius: 30px ;
  padding: 8%;
  background-color: rgb(255, 255, 255);
}

.AppBlock__item-left-text {
  max-height: 650px; /* Пример фиксированной высоты */
  overflow: auto; /* Автоматический скроллбар при необходимости */
}

.AppBlock__item-right-downmenu{
  display: flex;
  justify-content: space-around;
}

.AppBlock__item-right-downmenu-item{
  border-radius: 10px;
}

.AppBlock__item-right-downmenu-item:hover{
  background-color: #9292921f;
}

.AppBlock__item-right-downinfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.AppBlock__item-right-weeklist-item{
  display: flex;
  justify-content: space-between;  
  padding: 0 10px;
}

.AppBlock__item-right-weeklist-item{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border-radius: 10px;
}

.AppBlock__item-right-weeklist :hover{
  background-color: #9292921f;
}