@import "../styles/styles.scss";

.WeekWeather {
  width: 1150px;
  @include mainEl;
  display: flex;
  justify-content: space-around;
}

.WeekWeather__item {
  margin: 20px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:hover {
    background-color: $hoverColor;
    cursor: pointer;
  }
}
