.App {
  text-align: center;
  min-height: 100%;
  width: 100vw;
    background-color: rgb(0 0 0 / 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
}



