
.App{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  border-radius: 30px ;
  color: white;
}


.css-kf85qm-JoyInput-root{
  background-color: rgba(255, 255, 255, 0.324) !important;
  border: none !important;
}
input{
  color: white !important;
} 

